body{
margin:0;
font-family:Segoe UI;
background:linear-gradient(to right,#667eea,#764ba2);
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:#111;
}

nav a{
color:white;
margin-left:15px;
text-decoration:none;
}

.container{
width:500px;
margin:40px auto;
background:rgba(255,255,255,0.1);
padding:25px;
border-radius:15px;
}

.form-box{
width:350px;
margin:100px auto;
background:rgba(255,255,255,0.1);
padding:25px;
border-radius:15px;
text-align:center;
}

input,select,button{
width:100%;
padding:10px;
margin:8px 0;
border-radius:8px;
border:none;
}

button{
background:#ff9a9e;
cursor:pointer;
}

button:hover{
background:#fad0c4;
}
